<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="stjavadev"
         name="ST Java Dev"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="false">
         <run
               class="com.nealxyc.stjavadev.App">
         </run>
      </application>
   </extension>


</plugin>
